<div class="page-layout">
  <h1 class="header-title">Encodely Settings</h1>

  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Directories">
      <app-directories></app-directories>
    </mat-tab>

    <mat-tab label="Docker">
      <app-docker></app-docker>
    </mat-tab>

    <mat-tab label="Encoder Profiles">
      <app-encoder-profiles></app-encoder-profiles>
    </mat-tab>

    <mat-tab label="Post Processing">
      <app-processor></app-processor>
    </mat-tab>

    <mat-tab label="Restart">
      <app-system></app-system>
    </mat-tab>
  </mat-tab-group>
</div>
