.textarea,
.input {
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  height: 42px;
  line-height: 42px;
  margin-bottom: 0;
  outline: none;
  padding: 7px;
  transition-duration: 125ms;
  transition-property: transform, box-shadow, background-color;

  :active,
  :focus {
    background-color: transparent;
    border: none;
    box-shadow: none;
    outline: none;
  }
}

.select select:focus,
.textarea:focus,
.input:focus,
.select select.is-focused,
.is-focused.textarea,
.is-focused.input,
.select select:active,
.textarea:active,
.input:active,
.select select.is-active,
.is-active.textarea,
.is-active.input {
  box-shadow: none;
}

.input-hint {
  font-size: 70%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.input-hint {
  font-weight: 200;
  margin: 0;
  font-size: 12px;
}

.label {
  font-weight: 400;
  margin: 0 !important;
  font-size: 14px;
}

.input {
  transition-property: box-shadow, border-color;
  transition-duration: 400ms;
  border: 2px solid rgb(231, 231, 231);
  border-radius: 6px;
  font-size: 14px;
  margin: 0;

  &:focus,
  &:active {
    border: 2px solid #01579b;
  }

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.075) 0 3.168px 3.96px 0;
  }
}
