.header-title {
  margin-bottom: 27px;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -1px;
  color: #294661;
}

.input-select-wrap {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

.input-select-label {
  display: block;
  font-size: 12px;
  line-height: 15px;
  cursor: pointer;
  width: 100%;
}
